```
# Flutter/Dart
.dart_tool/
.build/
.packages
flutter_export_environment.sh
**/ios/.generated/
**/android/.generated/
**/lib/*.g.dart
**/test/*.g.dart
**/lib/*.freezed.dart
**/test/*.freezed.dart

# Dependencies
pubspec.lock

# Logs
*.log
**/logs/

# Environment variables
.env
.env.local
*.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
```